<div class="widgets">

    <div class="row">
        <div class="col-lg-10 col-md-10">
            <div ba-panel ba-panel-title="Harvesting servers" ba-panel-class="with-scroll table-panel">
                <div class="horizontal-scroll">
                    <table class="table table-hover">
                        <thead>
                        <tr class="black-muted-bg">
                            <th class="align-left">Name</th>
                            <th class="align-left">URL</th>
                            <th class="align-left">Set</th>
                            <th class="align-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="no-top-border" ng-repeat="v in serversCtrl.servers">
                            <td class="align-left">{{v.servername}}</td>
                            <td class="align-left">{{v.url}}</td>
                            <td class="align-left">{{v.dataset}}</td>
                            <td class="align-right">
                                <button type="button" class="btn btn-success btn-xs"
                                        ng-click="serversCtrl.harvest(v.id)">Harvest
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <a onmouseover="" style="cursor: pointer;" ng-click="serversCtrl.showAdd = !serversCtrl.showAdd"><i
                    class="ion ion-plus-circled"></i> Add new</a>
        </div>
    </div>
    <br>
    <div class="row" ng-show="serversCtrl.showAdd">
        <div class="col-lg-10 col-md-10">
            <div
                    ba-panel
                    ba-panel-title="Register harvesting server"
                    ba-panel-class="with-scroll">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <form ng-submit="serversCtrl.addServer()">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="Enter a name for this server"
                                       ng-model="serversCtrl.newServer.servername">
                            </div>
                            <div class="form-group">
                                <label for="url">URL</label>
                                <input type="url" class="form-control" id="url"
                                       placeholder="The OAIPMH URL of the server"
                                       ng-model="serversCtrl.newServer.url"
                                       ng-change="serversCtrl.identifyServer()"
                                       ng-model-options="{debounce: 500}">
                            </div>
                            <div class="form-group" ng-show="serversCtrl.newServer.url">
                                <label for="set">Set to harvest</label>
                                <select class="form-control" id="set" ng-model="serversCtrl.newServer.dataset">
                                    <option ng-repeat="v in serversCtrl.serverSets['OAI-PMH'].ListSets.set | orderBy: 'setName'"
                                            value="{{v.setName}}">{{v.setName}}
                                        ({{v.setDescription.dc.description.__text}})
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-danger">Add server</button>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <h3><span class="label label-warning">Name</span>
                            {{serversCtrl.serverIdentity["OAI-PMH"].Identify.repositoryName}}<br></h3>
                        <h4><span class="label label-success">Administrator</span>
                            {{serversCtrl.serverIdentity["OAI-PMH"].Identify.adminEmail}}<br></h4>
                        <h5><span class="label label-info">Earliest timestamp</span>
                            {{serversCtrl.serverIdentity["OAI-PMH"].Identify.earliestDatestamp}}<br></h5>
                        <h5><span class="label label-info">Granularity</span>
                            {{serversCtrl.serverIdentity["OAI-PMH"].Identify.granularity}}<br></h5>
                        <h5><span class="label label-info">Protocol version</span>
                            {{serversCtrl.serverIdentity["OAI-PMH"].Identify.protocolVersion}}<br></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>